nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main {
    max-width: 840px;
}
main img {
    width: 200px;
    height: auto;
}
aside {
    width: 20rem;
    margin: 10px;
    border: 1px solid rgb(0,0,0,0.2);
    padding: 15px;
    background-color: #ddd;
    color:black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}
h1 {
    color: darkblue;
}

p {
    padding: 0;
}

footer {
    margin: 35px 0;
    border-top: 1px solid #000;
    text-align: center;
}